# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#Loading CSV
data = "../WeatherPy/Output/WeatherDF.csv"
data = pd.read_csv(data)
#Drop N/A
data = data.dropna(how='any')
# Convert into Dataframe
data = pd.DataFrame(data)
print(data.dtypes)
data.count()

Unnamed: 0      int64
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Date          float64
dtype: object

Unnamed: 0    519
City          519
Country       519
Lat           519
Lng           519
Max Temp      519
Humidity      519
Cloudiness    519
Wind Speed    519
Date          519
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Assign Lat and Lng as location
location = data[["Lat","Lng"]]

# Heat layer with Humidity as weight
humidity = data["Humidity"]
heat_layer = gmaps.heatmap_layer(location, weights=humidity, 
                                 dissipating=True, max_intensity=100,
                                 point_radius = 5)

# Add the layer to the map
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
Vacation = pd.DataFrame(data, columns = ["City","Country","Lat", "Lng", "Max Temp", "Wind Speed", "Cloudiness"])

# Filters
max_temp = (Vacation["Max Temp"] <= 80) & (Vacation["Max Temp"] > 70)
wind_speed = Vacation["Wind Speed"] < 10
cloudiness = Vacation["Cloudiness"] == 0

# New dataframe
VacationDF = Vacation[max_temp & wind_speed & cloudiness]
VacationDF.head()

         City Country      Lat       Lng  Max Temp  Wind Speed  Cloudiness
48     namibe      AO -15.1961   12.1522     73.47        5.66         0.0
212    tiznit      MA  29.5833   -9.5000     70.02        0.85         0.0
342  oussouye      SN  12.4850  -16.5469     78.80        6.91         0.0
346  baicheng      CN  45.6167  122.8167     72.50        7.49         0.0
412    touros      BR  -5.1989  -35.4608     75.20        4.61         0.0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = VacationDF
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# For loop through dataframe to search google places
for index, row in hotel_df.iterrows():
    # Get location via data frame
    lat = row["Lat"]
    lng = row["Lng"]

    # Change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # URL to pull from
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and print url
    name_address = requests.get(base_url, params=params)
    # Convert to json
    name_address = name_address.json()
    
    # Try/Except block to add hotels
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [7]:
hotels_df = hotel_df.dropna()
hotels_df.head()

         City Country      Lat       Lng  Max Temp  Wind Speed  Cloudiness
48     namibe      AO -15.1961   12.1522     73.47        5.66         0.0
212    tiznit      MA  29.5833   -9.5000     70.02        0.85         0.0
342  oussouye      SN  12.4850  -16.5469     78.80        6.91         0.0
346  baicheng      CN  45.6167  122.8167     72.50        7.49         0.0
412    touros      BR  -5.1989  -35.4608     75.20        4.61         0.0

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [10]:
# Plot markers on top of the heatmap
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add marker layer ontop of heat map
fig.add_layer(markers)
# Display figure
fig

NameError: name 'locations' is not defined